<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="MongoDbConnection" connectionString="mongodb://dotnet:MiNI@vps287138.ovh.net:27017/hostelmanager" />
  </connectionStrings>
  <appSettings>
    <add key="MongoDbName" value="hostelmanager" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IAmenityService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IBedroomService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_ICheckInService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IAuthenticationService">
          <security mode="Transport" />
        </binding>
        <binding name="BasicHttpBinding_IGuestService">
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:8000/Service/AmenityService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAmenityService"
        contract="AmenityService.IAmenityService" name="BasicHttpBinding_IAmenityService" />
      <endpoint address="https://localhost:8000/Service/BedroomService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBedroomService"
        contract="BedroomService.IBedroomService" name="BasicHttpBinding_IBedroomService" />
      <endpoint address="https://localhost:8000/Service/CheckInService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICheckInService"
        contract="CheckInService.ICheckInService" name="BasicHttpBinding_ICheckInService" />
      <endpoint address="https://localhost:8000/Service/AuthenticationService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAuthenticationService"
        contract="AuthenticationService.IAuthenticationService" name="BasicHttpBinding_IAuthenticationService" />
      <endpoint address="https://localhost:8000/Service/GuestService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IGuestService"
        contract="GuestService.IGuestService" name="BasicHttpBinding_IGuestService" />
    </client>
  </system.serviceModel>
</configuration>